In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'1.3.4'

In [29]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')

/Users/apple/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [5]:
df.shape

(1369769, 19)

In [6]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
airport_fee              float64
dtype: object

In [7]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [8]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [9]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [24]:
engine = create_engine('postgresql://postgres:1112@localhost:5433/ny_taxi')

In [25]:
engine.connect()

In [26]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [31]:
# divide the dataframe into chunks of 100000
df_iter = df = pd.read_csv('yellow_tripdata_2021-01.csv', iterator = True, chunksize = 100000)

In [16]:
df = next(df_iter)

In [20]:
len(df)

100000

In [17]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [30]:
# Insert only the headers to the table 
df.head(n=0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

In [21]:
%time df.to_sql(name='yellow_taxi_data', con = engine, if_exists = 'append')

CPU times: user 4.73 s, sys: 161 ms, total: 4.89 s
Wall time: 13.5 s

In [32]:
for i in df_iter:
    t_start = time()
    
    i["tpep_pickup_datetime"] = pd.to_datetime(i["tpep_pickup_datetime"])
    i["tpep_dropoff_datetime"] = pd.to_datetime(i["tpep_dropoff_datetime"])
    
    i.to_sql(name='yellow_taxi_data', con = engine, if_exists = 'append')
    
    t_end = time()
    
    print(f'Inserted another chunk, took {t_end - t_start}')

Inserted another chunk, took 19.539960145950317
Inserted another chunk, took 20.34071707725525
Inserted another chunk, took 18.532830953598022
Inserted another chunk, took 20.42070198059082
Inserted another chunk, took 20.006051778793335
Inserted another chunk, took 19.46975088119507
Inserted another chunk, took 19.942514896392822
Inserted another chunk, took 23.730303049087524
Inserted another chunk, took 21.388736724853516
Inserted another chunk, took 20.196324110031128
Inserted another chunk, took 23.08812713623047
Inserted another chunk, took 21.24022603034973

/Users/apple/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Inserted another chunk, took 19.851661920547485
Inserted another chunk, took 15.323552131652832

In [39]:
query = """
SELECT *
FROM yellow_taxi_data 
LIMIT 
"""

pd.read_sql(query, con = engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,400000,1,2021-01-11 17:09:26,2021-01-11 17:31:25,1.0,4.70,1.0,N,239,234,1,18.50,3.50,0.5,4.55,0.00,0.3,27.35,2.5,NaN
1,400001,1,2021-01-11 17:46:24,2021-01-11 17:54:11,1.0,1.10,1.0,N,161,233,2,7.00,3.50,0.5,0.00,0.00,0.3,11.30,2.5,NaN
2,400002,2,2021-01-11 17:31:45,2021-01-11 17:48:09,1.0,3.16,1.0,N,161,45,1,13.00,1.00,0.5,3.46,0.00,0.3,20.76,2.5,NaN
3,400003,2,2021-01-11 17:51:49,2021-01-11 17:59:38,1.0,1.55,1.0,N,144,4,2,7.50,1.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
4,400004,2,2021-01-11 17:09:19,2021-01-11 17:37:12,1.0,6.21,1.0,N,234,25,1,22.50,1.00,0.5,5.36,0.00,0.3,32.16,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969764,1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
969765,1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
969766,1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
969767,1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
969768,1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

In [2]:
file = 'https://docs.google.com/spreadsheets/d/1HWhqpkAmeXIuLqA3h2FspTCX0DAocV2H_Nsz3z8vhPY/edit#gid=1762986773'

In [33]:
!wget 'https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv'

/bin/bash: wget: command not found

In [34]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [35]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [37]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace', index=False)